<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Radiofabrik</string>
		<key>address</key>
		<string>ws://master.radiofabrik.at:8080</string>
		<key>description</key>
		<string>The neverending Server</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Alex sein lokaler Server</string>
		<key>address</key>
		<string>ws://192.168.1.100:8080</string>
		<key>name</key>
		<string>Alex Local</string>
	</dict>
</array>
</plist>
